*.ipynb
.ipynb_checkpoints/
*.egg-info/
axon_id/ml_models/
axon_id/saved_skeletons/
axon_id/l2lookup.sqlite
axon_id/*.ipynb
axon_id/.ipynb_checkpoints/
axon_id/dendrite_skeletonization_tq.py
axon_id/dendrite_skeletonization_tq
axon_id/axon_id/saved_meshworks/tq_meshworks/
axon_id/saved_meshworks/
docker-compose.yml
Dockerfile
make_cluster.sh 
skeleton_and_remove_axons.yml
skeletontask.yml
.DS_Store
.dockerignore
.env.docker
*__pycache__/